@{
    ViewBag.Title = "Página Inicial";
}

<div class="jumbotron" style="margin-top:0px;padding-top:20px;">
    <h1 style="margin-top:0px;">Prova Citel</h1>
    <p class="lead">Prova técnica para o processo seletivo da Citel Softwares.</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Banco de Dados</h2>
        <p>
            <ul>
                <li>Mysql</li>
                <li>Entity Framework</li>
                <li>Code First</li>
            </ul>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Back-End</h2>
        <p>
            <ul>
                <li>AspNet MVC C#</li>
                <li>WEB API</li>
                <li>Arquitetura DDD</li>
            </ul>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Front-End</h2>
        <p>
            <ul>
                <li>Html</li>
                <li>CSS - Bootstrap</li>
                <li>Javascript</li>

            </ul>
        </p>
    </div>
</div>